main{
    max-width: 500px;
    padding: 20px
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button
{
    font-size: 18px;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover
{
    transform: scale(1.1);
    background-color: #eee;
}

h1
{
    text-align: start;
}

img
{
    border-radius: 20px;
    width: 300px;
}

p
{
    text-align: start;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

@media (max-width: 500px) {
    section {
        flex-direction: column;
    }

    h1
    {
        text-align: center;
        font-size: 1.8rem;
    }

    p
    {
        text-align: justify;
    }
}