.footer{
    position: fixed;
    text-align: left;
    background-color: #0007;
    padding: 10px 44px;
    border-radius: 40px;
    opacity: .85;
    left: 16px;
    bottom: 16px;
    backdrop-filter: blur(8px);
    display:  fle;
}

.footer span {
    font-size: 14px;
    color: #09f;
    opacity: .8;
    margin-left: 10px;
}


footer h4, footer h5 {
    margin: 0;
    display: flex;
}